#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  netbox-app.service
BindsTo=netbox.service
After=netbox.service postgresql-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/netbox-app.pid %t/netbox-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/netbox-app.pid \
    --cidfile %t/netbox-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/netbox.pod-id --replace -d --name  netbox-app \
    --env-file=%S/state/netbox-app.env \
    --volume netbox-media-files:/opt/netbox/netbox/media:Z \
    --volume netbox-reports-files:/opt/netbox/netbox/reports:Z \
    --volume netbox-scripts-files:/opt/netbox/netbox/scripts:Z \
    --volume config:/etc/netbox/config:z \
    ${NETBOX_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/netbox-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP netbox-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/netbox-app.ctr-id
PIDFile=%t/netbox-app.pid
Type=forking

[Install]
WantedBy=default.target
